[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mitml"]
	path = mitml
	url = https://github.com/simongrund1/mitml
	shallow = true
	registered = true
